html, body{
    width: 100%;
    height: 100%;
    margin: 0;
}

.header{
    width: 100%;
    height: 10%;
    background-color: rgb(184, 184, 184);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 2em;
    border-radius: 1em;
    box-sizing: border-box;
}

.header_heading{
    font-size: 25px;
    color: rgb(51, 51, 171);
}

.header_nav{
    width: 20%;
}

.header_menu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    color: rgb(51, 51, 171);
}

.header_menu_li:nth-child(even){
    color: rgb(6, 6, 97);
}

.main{
    width: 100%;
    height: 90%;
    padding: 1em;
    box-sizing: border-box;
    background-color: aquamarine;
}

.main_profile_info_block{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    
   
}

.profile_info{
    width: 75%;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.profile_photo{
    width: 70%;
    height: 110%;
}

.profile_username{
    font-size: 14px;
    margin: 0;
}

.profile_description{
    width: 45%;
    height: 45%;
    border: 6px solid grey;
    box-sizing: border-box;
    padding: .5em 1em;
}

.profile_descr_text{
    font-size: 18px;
    width: 100%;
    height: 100%;
}
.hobbys_description_text{
    width: 140%;
    height: 50%;
    border: 1px solid grey;
    box-sizing: border-box;
    padding: .5em 1em; 
}
